body{
    margin: 0;
    padding:0;
    font-family: Arial;
}
.navbar {
    color: white !important;
    background-color: #b6b7b7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    background-color: #86e2e3; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.navbar-brand:hover{
    background-color: pink;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

.navbar-nav {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar-nav .nav-item .nav-link{
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    background-color: pink;
    border-radius: 10px;
}

.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
    color: white;
    background-color: #7ad4d4;
    border: 1px solid white;
    transition: all .2s ease-in-out;

}

.navbar-toggler {
    display: none; /* Hide the toggler button for smaller screens */
}

.navbar-right {
    display: flex;
    gap: 20px;
}

/* .btn-separator {
    margin: 0 10px;
} */
